/* SCheckbox.css */
@import "../../styles/variables.css";

.s-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
}

.s-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.s-checkbox input:checked ~ .checkmark {
    /*background-color: #007bff;
    border-color: #007bff;*/
}

.s-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.s-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.s-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.s-checkbox .label {
    margin-left: var(--icon-spacing);
}
