@import "../../styles/variables.css";

/* TableHeader.css */

/* Table Header Container */
.table-header {
    display: grid;
    background-color: var(--grey-1);
    grid-template-columns: repeat(3, 1fr);
    border-radius: var(--space-16) var(--space-16) 0 0; /* Rounded corners */
    padding: var(--space-24); /* Padding */
    font-family: 'Avenir Heavy', sans-serif; /* Font: Avenir Heavy */
    line-height: 1.75; /* Line height */
    letter-spacing: 0; /* Letter spacing */
    font-size: var(--font-size-default); /* Default font size */
}

/* Responsive font size */
@media (min-width: var(--lg-screens)) {
    .table-header {
        font-size: var(--font-size-lg); /* Large screens */
    }
}

@media (min-width: var(--xl-screens)) {
    .table-header {
        font-size: var(--font-size-lg); /* Extra large screens */
    }
}

@media (max-width: var(--sm-screens)) {
    .table-header {
        font-size: var(--font-size-sm); /* Small screens */
    }
}

/* Table Header Cell */
.s-table-header-cell {
    display: inline-block;
    margin-right: var(--space-16); /* Spacing between cells */
}

.s-table-header-cell.sortable {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.s-table-header-cell.sortable span {
    display: flex;
    align-items: center;
}

.sort-icon {
    margin-left: var(--space-8);
    width: var(--space-8);
}
