/* Style the table container */
@import "../../styles/variables.css";

.table {
    border-radius: var(--space-16);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Low box shadow */
}
